@import "basic.less";

.service {
	#header {
		position: absolute;
		width: 100%;
	}
	#content {
		.header {
			background-image: url(http://dummyimage.com/1920x1080/eee/ddd);
			&.black {
				.title,	#breadcrumb li{
					color: black;
				}
			}
		}
		.special-services {
			padding: 100px 0;
			.title {
				margin-bottom: 5px;
				font-size: 16px;
				color: @branding-color;
			}
			.subtitle {
				margin: 0;
				font-size: 18px;
				font-weight: normal;
				text-transform: uppercase;
			}
			p {
				margin-bottom: 30px;
			}
		}
	}
	.services {
		padding: 100px 0;
		.row {
			> div {
				padding: 50px;
				&:hover {
					transition: all 0.3s;
					background-color: black;
					color: white;
					i {
					color: @branding-color;
					}
				}
			}
		}
	}
	.feature {
		padding: 100px 0;
	}
	.big-dot {
		li {
			float: left;
			margin-bottom: 10px;
			width: 50%;
			line-height: 1.5;
			&:before {
				font-family: "fontello";
				content: '\f10c';
				color: #757575;
				padding-right: 10px;

			}
		}
	}
}